footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #343a40;
    text-align: center;
    color: aliceblue;
}

header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
}